<button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
  <!-- <mat-icon class="user-button__icon">person</mat-icon> -->
  <span *ngIf="productdata==16"><img src="https://public-upload-data.s3.ap-south-1.amazonaws.com/images/CDOT+Logo.png"  style="height: 50px;border-radius: 6px;float: right;"></span>
  <!-- <span *ngIf="productdata==27"><img src="https://public-upload-data.s3.ap-south-1.amazonaws.com/images/grow-logo4.png"  style="height: 50px;border-radius: 6px;float: right; width: 202%; "></span> -->

</button>
<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="user-menu-title">
    <h4 class="user-menu-title__name">{{userId}}</h4>
    <a class="user-menu-title__link" [href]="flatlogicEmail">Finhaat.com</a>
  </div>
   <button mat-menu-item class="user-menu__item-title">
    <mat-icon class="user-menu-icon">person</mat-icon>Profile
  </button>
  <!--<button mat-menu-item class="user-menu__item-title">
    <mat-icon class="user-menu-icon">description</mat-icon>Tasks
  </button>
  <button mat-menu-item class="user-menu__item-title">
    <mat-icon class="user-menu-icon">email</mat-icon>Messages
  </button> -->
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button (click)="signOutEmit()">Sign out</button>
  </div>
</mat-menu>
