<mat-toolbar class="header">

  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpened" style="color: #2c3b97;">arrow_back</mat-icon>
    </button>
    <span class="m-4"><img src="./assets/auth/finhaat-trans.png" style="height: 50px" /></span>
  </div>

  <div class="header-toolbar">
    
    <app-user [user]="user$ | async" (signOut)="signOut()"></app-user>
  </div>

</mat-toolbar>
